extends layout
  
block content
    h1= title

    div
      div
      table
        thead
          th Name
          th Country
          th League Champion
          th Champions League Title Holder
        tbody
          each item in items
            tr
              td #{item.name}
              td #{item.country}
              td #{item.leaguechampion}
              td #{item.clwinner}

    form(method="get", action="/")
      button(type="submit") Home